@use  "../../main.scss" as mixin;

.search-box {
   @include mixin.d-flex(_, start, center, _, 24px);
   background-color: #0000002d;
   border-radius: 18px;
   padding: 12px 18px;
   flex: 1;
}

.search-field {
   @include mixin.txt(20px, 600, black, left);
   background-color: transparent;
   border: none;
   outline: unset;
}