<div class="main">
   <div class="header">
<button class="category"> General </button>
      <div class="actions">
         <span>
            <i class="fas fa-pen" style="color: #59d2d6; cursor: pointer"></i>
         </span>
         
         <span>
            <i class="fas fa-trash" style="color: #59d2d6; cursor: pointer"></i>
         </span>
      </div>
   </div>

   <div class="note">
      <p class="title">Finish the Task on the board</p>
      <p class="content">
         Remember to finish task on the board. After finishing commit that on github.
         Remember to finish task on the board. After finishing commit that on github.
         Remember to finish task on the board. After finishing commit that on github.
         Remember to finish task on the board. After finishing commit that on github.
      </p>
   </div>

   <div class="date"> 29.10.2024 </div>
</div>